body{
    margin: 0;
    font-size: 2em;
}

h1, p {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: pink;
}

.container:after {
    content: '';
    display: block;
    clear:both;
    height: 0; /* 공간은 혹시나 차지할지 몰라서 height, visibility값을 준다*/
    visibility: hidden;
}

.item { 
    float: left;
    padding: 5%;
} 
    
.item-a {
    width: 30%;
    background-color:yellow;
}

.item-b {
    width: 50%;
    background-color:yellowgreen;
}